In [22]:
import pandas as pd
import numpy as np
import datetime as datetime

In [23]:
file = "2018CB.csv"

# Read the .csv into a dataframe
df18 = pd.read_csv(file, encoding="ISO-8859-1")

# calculate approximate age of rider
df18['age'] = 2018 - df18['birth year']

In [24]:
file = "2019CB.csv"

# Read the .csv into a dataframe
df19 = pd.read_csv(file, encoding="ISO-8859-1")

# calculate approximate age of rider
df19['age'] = 2019 - df19['birth year']

In [25]:
# Concatenate dataframes
df_combined = pd.concat([df18,df19],axis=0, join='outer', ignore_index=True)

In [30]:
# Change Gender NaN to 0
df['gender'] = df['gender'].fillna(0)

# Drop rows with all NaN, age out of range, and tripduration <600 (10 minutes)
df = df.dropna(how='all')
df = df.drop(df[(df.age < 12)].index)
df = df.drop(df[(df.age > 80)].index)
df = df.drop(df[(df.tripduration <600)].index)
df = df.drop(df[(df.tripduration > 14400)].index)

# Convert starttime to datetime 
df['starttime'] = pd.to_datetime(df['starttime'])

# Seperate year and month from starttime
df['year'] = df['starttime'].dt.year 
df['month'] = df['starttime'].dt.month

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 46572 entries, 20 to 262917
Data columns (total 18 columns):
tripduration               46572 non-null int64
starttime                  46572 non-null datetime64[ns]
stoptime                   46572 non-null object
start station id           46572 non-null int64
start station name         46572 non-null object
start station latitude     46572 non-null float64
start station longitude    46572 non-null float64
end station id             46572 non-null int64
end station name           46572 non-null object
end station latitude       46572 non-null float64
end station longitude      46572 non-null float64
bikeid                     46572 non-null int64
usertype                   46572 non-null object
birth year                 46572 non-null int64
gender                     46572 non-null int64
age                        46572 non-null int64
year                       46572 non-null int64
month                      46572 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(9), object(4)
memory usage: 6.8+ MB

In [32]:
# Save combined data in a .csv file
df.to_csv("18_19CB.csv")

In [33]:
# Build equipment dataset
equip_df = df.groupby('bikeid')['tripduration'].sum()

equip_df.count()

911

In [34]:
# Build member dataset
member_df = df.groupby(['year', 'usertype', 'gender', 'age'])['tripduration'].sum()

member_df.head(10)

year  usertype  gender  age
2018  Customer  0       19      854
                        21     2544
                        25     1018
                        26      675
                        27     1323
                        28     2221
                        30      678
                        32      779
                        33     1437
                        35     1548
Name: tripduration, dtype: int64

In [39]:
# Build trip dataset
trip_df = pd.DataFrame(df,columns=['year', 'month', 'start station name', 'end station name', 'start station latitude', 'start station longitude', 'end station latitude', 'end station longitude'])

trip_df.head(10)

,year,month,start station name,end station name,start station latitude,start station longitude,end station latitude,end station longitude
20,2018,1,Exchange Place,McGinley Square,40.716247,-74.033459,40.725340,-74.067622
63,2018,1,Exchange Place,Jersey & 3rd,40.716247,-74.033459,40.723332,-74.045953
75,2018,1,Exchange Place,Newport Pkwy,40.716247,-74.033459,40.728745,-74.032108
91,2018,1,Exchange Place,McGinley Square,40.716247,-74.033459,40.725340,-74.067622
122,2018,1,Exchange Place,Oakland Ave,40.716247,-74.033459,40.737604,-74.052478
133,2018,1,Exchange Place,Newport PATH,40.716247,-74.033459,40.727224,-74.033759
134,2018,1,Exchange Place,Hamilton Park,40.716247,-74.033459,40.727596,-74.044247
140,2018,1,Exchange Place,McGinley Square,40.716247,-74.033459,40.725340,-74.067622
141,2018,1,Exchange Place,Newport Pkwy,40.716247,-74.033459,40.728745,-74.032108
147,2018,1,Exchange Place,Oakland Ave,40.716247,-74.033459,40.737604,-74.052478

In [40]:
# Save datasets as .csv files
equip_df.to_csv("equipment.csv")
member_df.to_csv("member.csv")
trip_df.to_csv("trip.csv")

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.

C:\Users\Owner\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  This is separate from the ipykernel package so we can avoid doing imports until